<p>
  A local chapter of R-Ladies Global, <a href="https://rladiesseattle.org/">R-Ladies Seattle</a> 
  exists to promote diversity in the R community, both in the US and worldwide.
  We are pro-actively inclusive of queer, trans, and all minority identities,
  with additional sensitivity to intersectional identities (which many lead 
  R-Ladies are) - our priority is to provide a safe community space for anyone
  identifying as a minority gender who is interested in and/or working with R. 
  As a founding principle, there is no cost or charge to participate in any of
  our R-Ladies communities around the world.
  </p>
  <p>
For this workshop series, R-Ladies Seattle is partnering with the Carpentries,
particularing using their <a href="{{site.swc_site}}">Software Carpentry</a>
content on version control in git. For more information on what the Carpentries
teach and why, please see their paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
    <hr/>
</p>
