<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>April 2</td>  <td>Version Control with git</td> <td>[content](_episodes/01-basics.md)</td></tr>
      <tr> <td>April 9</td>  <td>Sharing code with GitHub</td> </tr>
  <tr> <td>April 16</td>  <td>GitHub GUI and in RStudio</td> </tr>
      <tr> <td>April 23</td>  <td>Collaborating with GitHub</td> </tr>
      <tr> <td>After</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      
    </table>
