<p id="who">
  <strong>Who:</strong>
  The course is aimed at anyone interested in implementing version control 
  in their work.
  <strong>
    You don't need to have any previous knowledge of the tools
    that will be presented at the workshop.
  </strong>
</p>
<p id="who-can-attend">
    <strong>Who can attend?:</strong>
    This workshop is open to anyone but first registration will be given to 
    R-Ladies members. While we are a local chapter, we welcome participants to
    this online event from anywhere around the world.
</p>
